<div class="outer-container">
  <div class="page-header">
    <h3>Task Management App</h3>
  </div>
  <div class="body-content">
    <div class="mt-20 content-card">
      <div class="card-upper-row" *ngIf="messageShowingFlag">
        <p-messages
          [(value)]="messages"
          [enableService]="false"
          [closable]="false"
        ></p-messages>
      </div>
      <div class="card-middle-row">
        <p-table [tableStyle]="{ 'min-width': '50rem' }"  [value]="tasksList">
          <ng-template pTemplate="header">
            <tr>
              <th style="text-align: center;">Task</th>
              <th style="text-align: center;">Description</th>
              <th style="text-align: center;">Status</th>
              <th style="text-align: center;">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-taskItem>
            <tr>
              <td style="text-align: center;">{{ taskItem.taskName }}</td>
              <td style="text-align: center;">{{ taskItem.taskDescription }}</td>
              <td style="text-align: center;">
                <ng-container *ngIf="taskItem.completed">
                <p-button
                  icon="pi pi-check"
                  styleClass="p-button-rounded p-button-success p-button-text"
                  pTooltip="Completed Task"
                  tooltipPosition="top"
                  placeholder="Top"
                ></p-button>
                </ng-container>
                <ng-container *ngIf="!taskItem.completed">
                  <div
                      style="display: flex; justify-content: center; gap: 2px"
                    >
                      <p-confirmDialog
                        [style]="{ width: '50vw' }"
                      ></p-confirmDialog>
                    <p-button
                      icon="pi pi-clock"
                      styleClass="p-button-rounded p-button-secondary p-button-text"
                      pTooltip="Pending Task"
                      tooltipPosition="top"
                      placeholder="Top"
                      (onClick)="statusChange(taskItem.id)"
                    ></p-button>
                    </div>
                </ng-container>
                
              </td>
              <td style="text-align: center;">
                <ng-container *ngIf="taskItem.completed">
                  <p-button
                    icon="pi pi-eye"
                    styleClass="p-button-rounded p-button-secondary  p-button-text"
                    pTooltip="View Task"
                    tooltipPosition="top"
                    placeholder="Top"
                    (onClick)="viewTask(taskItem.id,taskItem)"
                  ></p-button>
                </ng-container>
                <ng-container *ngIf="!taskItem.completed">
                  <div class="action-btns">
                    
                    <p-button
                      icon="pi pi-pencil"
                      styleClass="p-button-rounded p-button-secondary p-button-text"
                      pTooltip="Edit"
                      tooltipPosition="top"
                      placeholder="Top"
                      (click)="updateTask(taskItem)"
                    ></p-button>
                    <div
                      style="display: flex; justify-content: center; gap: 2px"
                    >
                      <p-confirmDialog
                        [style]="{ width: '50vw' }"
                      ></p-confirmDialog>
                      <!-- <p-toast></p-toast> -->

                      <p-button
                        icon="pi pi-trash"
                        pTooltip="Delete"
                        tooltipPosition="top"
                        placeholder="Top"
                        styleClass="p-button-rounded p-button-secondary p-button-text"
                        (click)="deleteTask(taskItem.id)"
                      ></p-button>
                    </div>

                    <p-button
                    icon="pi pi-eye"
                    styleClass="p-button-rounded p-button-secondary  p-button-text"
                    pTooltip="View Task"
                    tooltipPosition="top"
                    placeholder="Top"
                    (onClick)="viewTask(taskItem.id,taskItem)"
                  ></p-button>
                  </div>
                </ng-container>
                
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-button
          icon="pi pi-plus"
          styleClass="p-button-rounded p-button-info  p-button-text p-button-raised"
          pTooltip="Add task"
          tooltipPosition="top"
          placeholder="Top"
          (onClick)="addTask()"
        ></p-button>
      </div>
    </div>
  </div>
  <div class="page-footer">2024 task-management-app</div>
</div>
