<div class="outer-container">
    <div class="page-header">
        <h3>Task Management App</h3>
    </div>
    <div class="body-content">
        <p-card class="mt-10 content-card">
            <div class="card-upper-row"></div>
            <div class="card-middle-row">
                    <p-table  [tableStyle]="{'min-width': '50rem'}" [value]="tasksList">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Task </th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-taskItem>
                            <tr>
                                <td>{{ taskItem.taskName }}</td>
                                <td>{{taskItem.taskDescription}}</td>
                                <td>{{taskItem.completed ? "Completed":"Pending"}}</td>
                                <td>
                                    <ng-container  *ngIf="taskItem.completed">
                                        <p-button icon="pi pi-check" styleClass="p-button-rounded p-button-success p-button-text"></p-button>
                                    </ng-container>
                                    <ng-container  *ngIf="!taskItem.completed">
                                        <div class="action-btns">
                                            <p-button icon="pi pi-clock" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                                            <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                                            <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                                        </div>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
            </div>
        </p-card>
    </div>
    <div class="page-footer">
        2024 task-management-app
    </div>
</div>

